<h1>Reset Password</h1>
<form method="POST">
  <input type="password" name="password" class="form-control" placeholder="New password" required>
  <button class="btn btn-primary mt-2">Reset Password</button>
</form>
