<%- include('partials/header.ejs') %>

<h2>Register New User</h2>
<form method="POST" action="/register" class="w-50 mx-auto">
  <div class="mb-2">
    <label>Name:</label>
    <input name="name" required class="form-control" />
  </div>
  <div class="mb-2">
    <label>Email:</label>
    <input name="email" type="email" required class="form-control" />
  </div>
  <div class="mb-2">
    <label>Password:</label>
    <input name="password" type="password" required class="form-control" />
  </div>
  <div class="mb-2">
    <label>Role:</label>
    <select name="role" class="form-select">
      <option value="admin">Admin</option>
      <option value="HR">HR</option>
      <option value="manager">Manager</option>
      <option value="employee">Employee</option>
    </select>
  </div>
  <div class="mb-2">
    <label>Phone:</label>
    <input name="phone" required class="form-control" />
  </div>
  <div class="mb-2">
    <label>Department:</label>
    <input name="department" required class="form-control" />
  </div>
  <button class="btn btn-primary w-100">Register</button>
</form>

<%- include('partials/footer.ejs') %>

